USE CHICUCTHUE
GO
/****** Object:  Table [dbo].[DM_LOAI_DONVI]    Script Date: 21/09/2017 11:30:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_LOAI_DONVI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LOAI] [nvarchar](250) NULL,
	[PARENT_ID] [int] NULL,
	[NGAYTAO] [datetime] NULL,
	[NGUOITAO] [int] NULL,
	[NGAYSUA] [datetime] NULL,
	[NGUOISUA] [int] NULL,
 CONSTRAINT [PK_DM_LOAI_DONVI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DM_LOAI_DONVI] ON 

INSERT [dbo].[DM_LOAI_DONVI] ([ID], [LOAI], [PARENT_ID], [NGAYTAO], [NGUOITAO], [NGAYSUA], [NGUOISUA]) VALUES (1, N'Tổng công ty', NULL, CAST(N'2017-06-12 00:00:00.000' AS DateTime), 1, CAST(N'2017-06-12 13:26:10.157' AS DateTime), 1)
INSERT [dbo].[DM_LOAI_DONVI] ([ID], [LOAI], [PARENT_ID], [NGAYTAO], [NGUOITAO], [NGAYSUA], [NGUOISUA]) VALUES (2, N'Công ty', 1, CAST(N'2017-06-12 00:00:00.000' AS DateTime), 1, CAST(N'2017-06-12 13:26:10.157' AS DateTime), 1)
INSERT [dbo].[DM_LOAI_DONVI] ([ID], [LOAI], [PARENT_ID], [NGAYTAO], [NGUOITAO], [NGAYSUA], [NGUOISUA]) VALUES (3, N'Cấp đơn vị', 9, CAST(N'2017-06-12 21:19:00.307' AS DateTime), 5, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DM_LOAI_DONVI] OFF
